body{
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto', monospace;
}

h1,h2{
    text-align: center;
}
h2{
    font-family: "comic sans";
}

p{
    color: whitesmoke;
    /*font-size: 24px;*/
}

div h2{
    color: red;
}
#parrafo-especial{
    text-align:center;
    font-size: 1.5em;
    font-weight: bold;
    
}
.parrafo{
    color: blue;
    font-style: italic;
    font-size: large;
}

img{
    display: block;
}

a{
    margin: 100px 2opx;
}

a:hover{
    color: aqua;
}
.elloco{
    align-content: center;
}